* {
  color: white;
}

.navigate-overview-button {
  appearance: none;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

.navigate-overview-button:hover {
  background-color: #30c730;
  text-decoration: none;
  transition-duration: 0.1s;
}

.navigate-overview-button:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}

.navigate-overview-button:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}


.navigate-overview-button:before {
  display: none;
}

.weapons-container {
  margin: 100px;
  display: flex;
  justify-content: space-evenly;
}

.weapons-map-container {
  display: flex;
  gap: 150px;
  flex-direction: column;
}

.statistic {
  min-width: 500px;
  min-height: 700px;
  max-width: 450px;
  border: 2px solid #5e4e96;
  border-radius: 8px;
  background-color: #948d6599;
}

.statistic-weapon {
  width: 800px;
  height: 300px;
  border: 2px solid #5e4e96;
  border-radius: 8px;
}

.statistic-map {
  width: 800px;
  height: 300px;
  border: 2px solid #5e4e96;
  border-radius: 8px;
}

.container, .donut-chart-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-bottom: 1px solid grey;

  /*gap: 50px*/
}

.statistic-title {
  display: inline-flex;
  align-items: center;
  font-style: italic;
  gap: 20px;
  border-bottom: 1px solid grey;
}

.statistic-title-text {
  color: #969696;
}

.statistic-title-text h1 {
  position: relative;
  left: 10px;
}

.statistic-time-game-played, .statistic-score-kd-ratio {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-bottom: 1px solid grey;
  padding: 8px;
}

.data {
  display: flex;
  justify-content: center
}

.best-stats {
  border: 2px #9b8b16 solid;
  border-radius: 6px;
  height: 200px;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.best-stats h2 {
  color: rgba(232, 203, 78, 0.99);
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.line {
  transform: rotate(90deg);
  width: 126px;
  top: 51px;
  border: 1px solid #f4e064;
  background: #a55307;
  position: relative;
}

.images {
  height: 120px;
  width: 120px;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  margin: 56px;
}

.statistic-weapon {
  align-items: center;
  display: flex;
  background-color: #1f1b1bbf;
}

.highlight {
  background-color: #30c730;
  border-bottom-left-radius: 8px;
  position: relative;
  top: 137px;
  left: -233px;
  height: 30px;
  width: 631px;
  border-bottom-right-radius: 8px;
}

.highlight1 {
  background-color: #30c730;
  border-bottom-left-radius: 8px;
  position: relative;
  top: 137px;
  left: -233px;
  height: 30px;
  width: 631px;
  border-bottom-right-radius: 8px;
}
