version: 2.1
orbs:
  node: circleci/node@3.0.0

parameters:
  run_alternative_servers:
    type: string
    default: ""

jobs:
  testjob:
    docker:
      - image: cimg/node:16.18.1
    steps:
      - unless:
          condition: <<pipeline.parameters.run_alternative_servers>>
          steps:
            - checkout
            - run:
                name: Install dependecies
                command: npm install && npm install @callofduty/assets
            - run:
                name: Build
                command: npm run build
      - when:
          condition: <<pipeline.parameters.run_alternative_servers>>
          docker:
            - image: cimg/node:16.19.0-browsers
            - browser-tools/install-chrome:
                channel: stable
          steps:
            - checkout
            - run: npm install
            - run:
                command: npm test
      - run: echo "USE CircleCI parameter/ENV variable here and in next steps"

workflows:
  testworkflow:
    jobs:
      - hold:
          type: approval
          requires: [testjob]
      - testjob:
          filters:
            branches:
              only:
                - ci-workflow
