version: 2.1

workflows:
  build-and-test:
    jobs:
      - build
      - test


jobs:
  build:
    docker:
      - image: cimg/node:16.18.1
    steps:
      - checkout
      - run:
          name: Install dependecies
          command: npm install && npm install @callofduty/assets
      - run:
          name: Build
          command: npm run build
  test:
    docker:
      - image: cimg/node:16.19.0-browsers
    steps:
      - checkout
      - run: npm install && npm install karma-chrome-launcher
      - run:
           name: Unit Test
           command: npm run test -- --no-watch --no-progress --browsers=ChromeHeadlessCI
