svg{
  width: 100%;
  height: 100%;
}
.input-button{
  top: 69px;
  position: absolute;
}
.bar-chart-data{
  display: flex;
  position: absolute;
  justify-content: flex-end;
  align-items: flex-end;
  bottom: 0;
  right: 0;
  color: white;
}


