*{
  font-family: monospace;
}
.overview-container{
  display: flex;
  position: absolute;
  flex-direction: column;
  left: 0;
  margin-left: 30px;
  top: 163px;
}
h1{
  font-size: 60px;
  margin: 4px;
}
h2 {
  font-size: 35px;
  margin: 0;
}
.time-game-played{
  color: white;
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
  margin-top: 70px;
}

.kd-win-ratio {
  color: white;
  display: flex;
  justify-content: space-around;
}

.win-lose-ratio{
  position: relative;
  right: 39px;
}

.stats{
  font-size: 25px;
}

button {
  background: url("../assets/img.png");
  height: 270px;
  position: relative;
  top: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  border: none;
  width: 484px;
}

button:hover{
  margin-top: 5px
}

.logo-mw2{
  height: 69px;
  width: 233px;
  position: relative;
  left: 120px;
  top: 16px;
}

.chart{
  position: absolute;
  top: 450px;
  right: 0;
  left: 500px;
}
