* {
  font-family: monospace;
}

.overview-container {
  display: flex;
  position: absolute;
  flex-direction: column;
  margin-left: 30px;
  top: 100px;
  left: 0;
}

.overview-header {
  color: white;
}

.overview-header h1 {
  font-size: 60px;
  margin: 4px;
}

.overview-header h2 {
  font-size: 35px;
  margin: 0;
}

.overview-game-stats {
  font-size: 25px;
}

.overview-stats {
  color: white;
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
  margin-top: 70px;
}

.navigation-button {
  background: url("../assets/img.png");
  height: 270px;
  position: relative;
  top: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  border: none;
  width: 484px;
}

.navigation-button:hover {
  margin-top: 5px
}

.logo-mw2 {
  height: 69px;
  width: 233px;
  position: relative;
  left: 120px;
  top: 16px;
}

.game-win-ratio {
  left: -40px;
  position: relative;
}
